@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;600&display=swap');

:root {
    --gradient: linear-gradient(135deg, #004594 10%, #b0bfcf 100%);
    --bg-color: #e6e6e6;
    --bg-color--card: #303030;

    --main-text-color: #ffffff;

    --secondary-border-radius: 5px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}